.searchbar {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.searchinput,
.searchbtn {
  height: 6%;
  border: 1px solid var(--main);
}

.searchinput {
  width: 25%;
  border-radius: 20px 0 0 20px;
  padding: 20px;
  font-size: 20px;
}
.searchinput::placeholder {
  color: var(--placeholder);
}

.searchbtn {
  border-radius: 0 20px 20px 0;
  width: 5%;
  font-weight: bolder;
  background-color: var(--main);
  color: white;
  font-size: 1.5em;
}

.validation {
  height: 20px;
}

.carouselcontainer {
  width: 50%;
  height: fit-content;
  position: relative;
  overflow: visible;
  margin: 0 auto;
}

.landingpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.carouselcontainer img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  background-color: white;
}
/* inbuilt library class is in global style file */
