@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,700;1,700&family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Poller+One&display=swap");

:root {
  --main: #71f0bb;
  --submain: #19632f;
  --placeholder: rgb(189, 189, 189);
  --lightgray: rgba(197, 197, 197, 0.2);
  --darkgray: rgba(175, 175, 175, 0.744);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lexend", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

li {
  list-style-type: none;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 10px rgba(198, 198, 198, 0.6);
  height: 10%;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  font-size: 16px;
  position: fixed;
  z-index: 20;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidenavbar {
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--darkgray);
  transition: transform 0.3s ease, color 0.3s ease;
}

a:hover,
a:active {
  color: var(--main);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

.authlink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  width: 100%;
  height: 25%;
  background-color: var(--main);
  color: white;
  border-radius: 20px;
  border-style: none;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: orangered;
}

.slick-slider {
  height: auto;
  overflow: visible;
}

.slick-slide {
  opacity: 0.6;
  margin: 0 12px;
  filter: blur(2px);
}

.slick-center {
  transform: scale(1.5);
  opacity: 1;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  filter: none;
}

.slick-list {
  overflow: hidden;
  width: auto;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 100px 0;
  overflow: visible;
  position: relative;
}

.slick-center img {
  border-radius: 20px;
  transition: border-radius 0.3s ease-in-out, transform 0.3s ease;
}

.slick-center img:hover {
  border-radius: 0;
}
