@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.planboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flightdetailsinput {
  width: 100%;
  margin-top: 6%;
}

.flightform {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.flightformcity {
  display: flex;
  flex-direction: row;
  background-color: var(--main);
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

.flightformcity div {
  padding: 0 5px;
}

.flightformcity div > label {
  padding: 0 15px;
}

.planboarddisplay {
  width: 60%;
  min-height: 100vw;
  margin-top: 2%;
}

.cabinselection {
  background-color: var(--main);
  display: flex;
  justify-content: center;
  padding: 10px 0 20px 0;
}

.cabinselection select {
  border-radius: 10px;
  padding: 0 10px;
}

.cabinselection label {
  padding: 0 10px;
}

.flightcontainer {
  background-color: white;
  width: 100%;
  min-height: 20%;
  border-radius: 40px;
  border: 1px solid var(--main);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  display: grid;
  grid-template-rows: 15% 85%;
}

.flightctnrcomponent {
  background-color: var(--main);
  color: white;
  height: 50px;
}

.flightcardbox {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 10px;
  height: inherit;
  overflow-x: scroll;
  overflow-y: hidden;
}

.flightcard {
  background-color: var(--lightgray);
  flex: 0 0 300px;
  height: auto;
  border-radius: 30px;
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.flightlocationanddate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 14px;
  text-align: center;
  padding: 0 15px;
}

.flightlocationanddate p {
  color: gray;
}

.flightcard > p {
  font-size: 14px;
}

.cardgrid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.errorMessage {
  color: red;
  font-weight: 200;
  font-size: small;
  text-align: center;
  margin-top: 2%;
}